name: Elixir CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    name: Build and test
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - elixir: '1.7'
            otp: '21'
          - elixir: '1.7'
            otp: '22'
          - elixir: '1.8'
            otp: '21'
          - elixir: '1.8'
            otp: '22'
          - elixir: '1.9'
            otp: '21'
          - elixir: '1.9'
            otp: '22'
          - elixir: '1.10'
            otp: '21'
          - elixir: '1.10'
            otp: '22'
          - elixir: '1.10'
            otp: '23'
          - elixir: '1.11'
            otp: '21'
          - elixir: '1.11'
            otp: '22'
          - elixir: '1.11'
            otp: '23'
          - elixir: '1.11'
            otp: '24'
          - elixir: '1.12'
            otp: '22'
          - elixir: '1.12'
            otp: '23'
          - elixir: '1.12'
            otp: '24'
            lint: lint

    steps:
    - uses: actions/checkout@v2
    - name: Set up Elixir
      uses: erlef/setup-beam@v1
      with:
        elixir-version: ${{ matrix.elixir }}
        otp-version: ${{ matrix.otp }}

    - name: Retrieve Mix Dependencies Cache
      uses: actions/cache@v1
      id: mix-cache
      with:
        path: deps
        key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}

    - name: Install dependencies
      if: steps.mix-cache.outputs.cache-hit != 'true'
      run: |
        mix local.rebar --force
        mix local.hex --force
        mix deps.get

    - name: Retrieve PLT Cache
      uses: actions/cache@v1
      id: plt-cache
      with:
        path: priv/plts
        key: ${{ runner.os }}-${{ matrix.otp }}-${{ matrix.elixir }}-plts-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
      if: ${{ matrix.lint }}

    - name: Create PLTs
      run: |
        mkdir -p priv/plts
        mix dialyzer --plt
      if: ${{ matrix.lint }}

    - name: Check quality
      run: |
        mix format --check-formatted
        mix credo --strict
        mix dialyzer --no-check --halt-exit-status
      if: ${{ matrix.lint }}

    - name: Run tests
      run: mix test
